# dependencies
**/node_modules

# testing
**/coverage

# build output
**/dist
!build/hmr/dist
**/dist-zip
tsconfig.tsbuildinfo

# env
**/.env.*
**/.env

# etc
.DS_Store
.idea

# compiled
**/tailwind-output.css
