# dependencies
**/node_modules

# testing
**/coverage

# build output
**/dist
!build/hmr/dist
**/dist-zip
tsconfig.tsbuildinfo

# env
**/.env.*
**/.env

# etc
.DS_Store
.idea
.claude/settings.local.json
.turbo/

# extension artifacts
*.crx
*.pem

# compiled
**/tailwind-output.css
