name: Build Extension

on: [pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: pnpm
      - run: pnpm install --frozen-lockfile --prefer-offline
      - name: Create .env for build
        run: |
          echo "CLI_CEB_DEV=false" > .env
          echo "CLI_CEB_FIREFOX=false" >> .env
      - run: pnpm build
      - run: pnpm zip
      - uses: actions/upload-artifact@v4
        with:
          name: syrnia-tracker
          path: dist-zip/*.zip
